<div class="card publicacion-card mb-4 shadow-sm transition-all">
    <div class="card-body">
        @if (message()){
            <div class="alert alert-danger alert-dismissible fade show text-center py-2 mb-3" role="alert">
                <small class="fw-medium">{{ message() }}</small>

                <button (click)="confirmDelete()" class="btn btn-outline-danger btn-sm border-0">
                    <i class="bi bi-trash3-fill">Si</i>
                </button>
                <button (click)="cancelDelete()" class="btn btn-outline-danger btn-sm border-0">
                    <i class="bi bi-trash3-fill">No</i>
                </button>
            </div>
            
        }
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
                <div class="avatar-placeholder me-2 d-flex align-items-center justify-content-center text-white fw-bold">
                    {{ publicacion.usuarioNombre.substring(0, 2) | uppercase }}
                </div>
                <div>
                    <h6 class="mb-0 usuario-text">&#64;{{ publicacion.usuarioNombre }}</h6>
                    <small class="text-muted">{{ publicacion.createdAt | date:'dd/MM/yyyy HH:mm' }}</small>
                </div>
            </div>
        
            @if (isMine || isAdmin) {
                <button (click)="deleteMessage()" class="btn btn-outline-danger btn-sm border-0" title="Eliminar publicación">
                    <i class="bi bi-trash3-fill">Eliminar</i>
                </button>
            }
        </div>

        <h5 class="card-title fw-bold post-titulo">{{ publicacion.titulo }}</h5>
        <p class="card-text text-secondary">{{ publicacion.descripcion }}</p>

        @if (publicacion.urlImagen) {
            <div class="image-container mb-3 rounded overflow-hidden bg-light text-center">
                <img [src]="publicacion.urlImagen" alt="Imagen de la publicación" class="img-fluid post-img" />
            </div>
        }

        <div class="pt-2 d-flex align-items-center">
            <button (click)="toggleLike()" class="btn btn-like btn-sm d-flex align-items-center gap-2 transition-all" [ngClass]="{'liked': isLiked}">
                <span class="heart-icon">{{ isLiked ? '❤️' : '🤍' }}</span>
                <span class="fw-bold">{{ publicacion.likes.length }} Me gusta </span>
            </button>
            <button (click)="showPostComments()" class="btn btn-comment btn-sm d-flex align-items-center gap-2 transition-all" [ngClass]="{'liked': isLiked}">
                <span class="comment-icon">💬</span>
                <span class="fw-bold">{{ publicacion.comentarios.length }} Comentarios </span>
            </button>
        </div>

        <!-- <div class="comments-section border-top mt-4">
            <h6 class="fw-bold mb-3 text-secondary mt-3">Comentarios:</h6>            
            @for (comment of publicacion.comentarios; track comment._id) {
                <div class="comment-item d-flex p-3 rounded mb-2 align-items-start">
                    <img [src]="comment.usuario.foto" alt="Avatar" class="rounded-circle comment-avatar me-3">
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <span class="fw-bold text-dark">&#64;{{ comment.usuario.usuario }}</span>
                            <small class="text-muted text-end" style="font-size: 0.75rem;">
                                {{ comment.fecha | date:'dd/MM HH:mm' }}
                                @if (comment.modificado) { 
                                    <span class="badge bg-light text-dark ms-1 border">Editado</span>
                                }                      
                            </small>
                        </div>
                        <p class="mb-0 text-secondary small">{{ comment.mensaje }}</p>
                    </div>
                </div>
            } @empty {
                <div class="text-muted small ps-2">
                    Nadie ha comentado esta publicación aún.
                </div>
            }
        </div>  -->
    </div>
</div>

