.publicaciones-container {
  min-height: 100vh;
}
.container{
  border-radius: 16px !important;
  background: rgba(245, 248, 246, 0.5);
  padding-top: 1px;
}

/* .header-box {
  background: #f5f8f6;
  border-left: 6px solid #62aaac;
} */

.title-branding {
  color: #62aaac;
  text-shadow: 1px 1px 2px rgba(98, 170, 172, 0.2);
  font-size: 4rem;
}

.epigrafe {
  color: #4a5553;
  font-size: 1.25rem;
}

.orden-container {
  align-items: flex-end;
}

.orden{
  color: #62aaac;
  text-shadow: 1px 1px 2px rgba(98, 170, 172, 0.2);
  font-weight: 600;
  font-size: 1.70rem;
}

.filter-btn {
  background: #62aaac;
  color: #fff;
  border: 1px solid #62aaac;
  border-radius: 12px;
  font-weight: 600;
}

.filter-btn:hover {
  background-color: #4f8b8d;
}

.filter-btn.active {
  background-color: #e3e8e4 !important; 
  color: #62aaac !important; 
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/*Filtrado por usuario*/
.form-control{
  border-radius: 12px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(98, 170, 172, 0.25);
  border-color: #62aaac;
}

.search-box {
  border-radius: 12px; 
}

.search-box .filter-input {
  border: 1px solid #62aaac;
  border-right: none; /* Evita doble borde entre el input y el botón Buscar */
}

.search-box .filter-input:focus {
  border-color: #4f8b8d;
  box-shadow: 0 0 0 0.25rem rgba(98, 170, 172, 0.25); /* Focus estético con tu color */
}

/* Paginación */
.pagination-box {
  background: #dadfdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.btn-pagination {
  background-color: #62aaac;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  padding: 8px 20px;
}

.btn-pagination:hover:not(:disabled) {
  background-color: #4f8b8d;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(98, 170, 172, 0.3);
}

.btn-pagination:disabled {
  background-color: #ffff;
  color: #94a3b8;
  cursor: not-allowed;
}

.info-page {
  color: #4a5553;
}

.transition-all {
  transition: all 0.2s ease-in-out;
}