@if (publicacionComentarios()) {
    <div class="modal-overlay d-flex justify-content-center align-items-center" (click)="cerrarComentarios()">
        
        <div class="modal-card-content col-11 col-md-8 col-lg-6" (click)="$event.stopPropagation()">
            
            <app-publicacion-comentarios-card 
                [publicacion]="publicacionComentarios()!"
                [idUsuarioLogueado]="usuarioId"
                (onClose)="cerrarComentarios()">
            </app-publicacion-comentarios-card>
        </div>
    </div>
}

<div class="publicaciones-container py-5">
    <div class="container">

        @if (errorMessage()) {
            <div class="alert alert-danger alert-dismissible fade show text-center py-2 mb-3" role="alert">
                <small class="fw-medium">{{ errorMessage() }}</small>
            </div>
        }

        <div class="row justify-content-center">
            
            <div class="col-12 col-lg-11">       
                <div class="row mb-5 header-box p-4 rounded gap-3">
            <div class="col-12 mb-2">
                <h1 class="fw-bold title-branding">Publicaciones</h1>
            </div>

            <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
                
                <div class="filter-container col-12 col-md-5 p-0">
                    <div class="input-group search-box ">
                        <input type="text" class="form-control filter-input" placeholder="Filtrar por usuario..." [(ngModel)]="usuarioFilter"/>
                        <button class="btn filter-btn transition-all" type="button" (click)="filtrarUsuario()" [ngClass]="{'active': filtroActivo === true}">Buscar</button>
                        <button class="btn filter-btn transition-all" type="button" (click)="borrarBusqueda()">Eliminar</button>
                    </div>
                </div>

                <div class="d-flex justify-content-start justify-content-md-end gap-2 align-items-center col-12 col-md-6 p-0">
                    <button (click)="cambiarOrden('createdAt')" class="btn filter-btn transition-all" [ngClass]="{'active': ordenActual === 'createdAt'}">
                        Recientes
                    </button>
                    <button (click)="cambiarOrden('likes')" class="btn filter-btn transition-all" [ngClass]="{'active': ordenActual === 'likes'}">
                        Populares
                    </button>
                </div>

            </div>
        </div>         

                @for (pub of publicaciones(); track pub._id) {
                    <app-publicacion-card
                        [publicacion]="pub"
                        [idUsuarioLogueado]="usuarioId"
                        [perfilUsuarioLogueado]="usuarioPerfil"
                        (onLike)="handleLike($event)"
                        (onDelete)="handleDelete($event)"
                        (onComment)="handleCommentSection($event)">
                    </app-publicacion-card>
                } @empty {
                    <div class="text-center p-5 rounded bg-white shadow-sm mb-4">
                        <p class="text-muted fs-5 mb-0">
                            @if (filtroActivo) {
                                No se encontraron publicaciones para ese usuario
                            } @else {
                                No se encontraron publicaciones en esta sección
                            }
                        </p>
                    </div>
                }

                <div class="d-flex justify-content-between align-items-center mt-5 pagination-box p-3 mb-4 rounded">
                    <button (click)="paginaAnterior()" [disabled]="offset === 0" class="btn btn-pagination transition-all">
                        Anterior
                    </button>

                    <span class="fw-bold info-page">Página {{ (offset / limite) + 1 }}</span>

                    <button (click)="paginaSiguiente()" [disabled]="offset + limite >= totalPublicaciones" class="btn btn-pagination transition-all">
                        Siguiente
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>