@if (authService.mostrarModal()) {
    <div> class="modal-backdrop fade show"></div>
}

@if (authService.mostrarModal()){
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow border-0">        
                <div class="modal-header text-dark border-0">
                    <h5 class="modal-title fw-bold">⚠️ Tu sesión está por expirar</h5>
                </div>
                
                <div class="modal-body py-4">
                    <p class="fs-5 mb-0">Quedan exactamente <strong>5 minutos</strong> de sesión. ¿Deseas extender tu tiempo en la plataforma?</p>
                </div>
                
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-salir btn-outline-secondary" (click)="salir()">Salir</button>
                    <button type="button" class="btn fw-bold" (click)="extenderSesion()">Sí, extender sesión</button>
                </div>
            </div>
        </div>
    </div>
}

