<div class="container-fluid my-4 px-4 dashboard-container">
    <h1 class="mb-4 dashboard-title">Panel de Control de Administrador</h1>

    @if(errorMessage()){
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ errorMessage() }}</div>
    }
    
    @if(successMessage()){
        <div class="alert alert-success alert-dismissible fade show" role="alert">{{ successMessage() }}</div>
    }

    <div class="row g-4">
        <div class="col-lg-4">
        <div class="card shadow-sm border-0 p-4 form-card">
            <h3 class="card-title mb-3 fs-4 h3-style">Registrar Usuario</h3>
            
            <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
            
            <div class="mb-2">
                <label class="form-label text-muted mb-1">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{'is-invalid': registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid}">
                <div class="invalid-feedback small">El nombre es requerido (mínimo 3 caracteres).</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" [ngClass]="{'is-invalid': registroForm.get('apellido')?.touched && registroForm.get('apellido')?.invalid}">
                <div class="invalid-feedback small">El apellido es requerido (mínimo 3 caracteres).</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Correo Electrónico</label>
                <input type="email" formControlName="correo" class="form-control" [ngClass]="{'is-invalid': registroForm.get('correo')?.touched && registroForm.get('correo')?.invalid}">
                <div class="invalid-feedback small">Ingresa un correo electrónico válido.</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Nombre de Usuario</label>
                <input type="text" formControlName="usuario" class="form-control" [ngClass]="{'is-invalid': registroForm.get('usuario')?.touched && registroForm.get('usuario')?.invalid}">
                <div class="invalid-feedback small">El usuario es requerido (mínimo 3 caracteres).</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Contraseña</label>
                <input type="password" formControlName="contrasena" class="form-control" [ngClass]="{'is-invalid': registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid}">
                <div class="invalid-feedback small">Mínimo 8 caracteres, incluyendo una mayúscula y un número.</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Repetir Contraseña</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{'is-invalid': registroForm.get('confirmPassword')?.touched && registroForm.get('confirmPassword')?.invalid}"/>
                <div class="invalid-feedback small">Las contraseñas no coinciden.</div>
            </div>

            <div class="mb-2">
                <label class="form-label text-muted mb-1">Fecha de Nacimiento</label>
                <input type="date" formControlName="fechaNacimiento" class="form-control" [ngClass]="{'is-invalid': registroForm.get('nacimiento')?.touched && registroForm.get('nacimiento')?.invalid}">
                <div class="invalid-feedback small">Ingrese una fecha de nacimiento válida.</div>
            </div>

            <div class="mb-3">
                <label class="form-label text-muted d-block mb-1">Perfil del Usuario</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="rolUser" value="usuario" formControlName="perfil">
                    <label class="form-check-label" for="rolUser">Usuario Estándar</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="rolAdmin" value="administrador" formControlName="perfil">
                    <label class="form-check-label" for="rolAdmin">Administrador</label>
                </div>

            </div>

            <div class="mb-4">
                <label class="form-label text-muted mb-1">Foto de Perfil</label>
                <input 
                    type="file" 
                    class="form-control"
                    accept="image/*"
                    (change)="onFileChange($event)"
                    [ngClass]="{'is-invalid': registroForm.get('foto')?.touched && registroForm.get('foto')?.invalid}"
                />
                <div class="invalid-feedback small">Debes subir una foto de perfil obligatoria.</div>
            </div>

            <button type="submit" class="btn btn-submit w-100" [disabled]="registroForm.invalid || cargando()">
                {{ cargando() ? 'Registrando...' : 'Crear Usuario' }}
            </button>
            </form>

        </div>
        </div>

        <div class="col-lg-8">
            <div class="card shadow-sm border-0 p-4 table-card">
                <h3 class="card-title mb-3 fs-4 h3-style">Listado de Cuentas</h3>
                @if(cargando() && usuarios().length === 0){
                    <div class="text-center my-4">
                        <div class="spinner-border text-teal" role="status"></div>
                        <p class="text-muted mt-2">Cargando registros...</p>
                    </div>                    
                }

                @if(!cargando() && usuarios().length === 0){
                    <div  class="text-center my-4 text-muted">
                        No hay usuarios registrados en el servidor actualmente.
                    </div>
                } 

                @if(usuarios().length > 0){
                    <div class="table-responsive table-scroll-container">
                        <table class="table table-hover align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Foto</th>
                                    <th>Usuario</th>
                                    <th>Nombre Completo</th>
                                    <th>Rol</th>
                                    <th>Estado</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usuarios()" [ngClass]="{'table-danger-light': user.eliminado}">
                                    <td>
                                        <img [src]="user.foto" alt="Avatar" class="rounded-circle avatar-table" 
                                            *ngIf="user.foto; else placeholder">
                                        <ng-template #placeholder>
                                            <div class="avatar-placeholder-table d-flex align-items-center justify-content-center text-white font-weight-bold">
                                            {{ user.usuario.substring(0,2) | uppercase }}
                                            </div>
                                        </ng-template>
                                    </td>

                                    <td><strong>{{ user.usuario }}</strong></td>

                                    <td>{{ user.nombre }} {{ user.apellido }}</td>

                                    <td>
                                        <span class="badge" [ngClass]="user.perfil === 'administrador' ? 'bg-purple' : 'bg-secondary'">
                                            {{ user.perfil | titlecase }}
                                        </span>
                                    </td>

                                    <td>
                                        <span class="badge" [ngClass]="user.eliminado ? 'bg-danger' : 'bg-success'">
                                            {{ user.eliminado ? 'Inactivo' : 'Activo' }}
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        <button class="btn btn-sm px-3" 
                                                [ngClass]="user.eliminado ? 'btn-success' : 'btn-danger'"
                                                (click)="toggleEstadoUsuario(user)">
                                            {{ user.eliminado ? 'Dar Alta' : 'Dar Baja' }}
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                    </table>
                </div>
                } 
            </div>
        </div>
        
    </div>
</div>
